@{
    ViewData["Title"] = "Listar Comentários - Ajax";
}

<h1>Listar Comentários por Forum - Ajax</h1>

<form asp-action="ListarPorForumLinqAjax" asp-controller="Comentarios" method="get">
    <div class="mb-3">
        <label class="form-label">Selecione o Fórum</label>
        <select id="idForum" name="idForum" class="form-select"
                asp-items="(SelectList)ViewBag.Foruns">
            <option value="0">SELECIONE</option>
        </select>
    </div>
</form>

<div class="md-3" id="resultado"></div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function(){
            $("#idForum").change(function(){
                // obtendo o id do evento selecionado
                let id = $(this).val();

                // se o valor lido para o id for zero (0), uma mensagem de erro é apresentada.
                // Caso contrário, o action ListarPorForumLinqAjax é executado via ajax.
                if(id == 0){
                    let erro = '<div class="alert alert-danger">Nenhum forum selecionado</div>';
                    $("#resultado").html(erro);
                }  else {
                    $("#resultado").load("/Comentarios/ListarPorForumLinqAjax?idForum=" + id);
                }
            });
        });
    </script>
}

